<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicChef</title>
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <div class="limit">
        <img src="../../static/source/iconBot.png">
        <div>
            <h1>
                Вы успешно авторизованы.
            </h1>
            <h2>
                Теперь вы можете закрыть эту страницу.
            </h2>
            <h2>
                Далее напишите в чат боте команду /start
            </h2>
        </div>
    </div>

</body>

</html>